<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>LIST OF COMPUTERS USING HISTORY</h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <button class="btn btn-success" (click)="showAddModal()">CREATE</button>
            <div class="card-tools">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control float-right" name="filter" (keyup.enter)="getlistpaging()"
                  [(ngModel)]="filter" placeholder="CODE or NAME...">
                <div class="input-group-append">
                  <select name="deparmentTypeId" [(ngModel)]="deparmentTypeId">
                    <option value="" selected>--Select Deparment Type--</option>
                    <option *ngFor="let x of deparmentTypeSelectList" [value]="x.DeparmentTypeId">
                      {{x.DeparmentTypeName}}
                    </option>
                  </select>
                  <button class="btn btn-default" (click)="getlistpaging()" type="button"><i
                      class="fas fa-search"></i></button>
                  <button class="btn btn-default" (click)="reset()" type="button">Reset</button>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Computer Code </th>
                  <th>Computer Name</th>
                  <th>Deparment Type Code</th>
                  <th>Deparment Type Name</th>
                  <th>StartTime</th>
                  <th>EndTime</th>
                  <th>TotalTime</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let computerUsingHistory of computerUsingHistories">
                  <td>{{computerUsingHistory.ComputerCode}}</td>
                  <td>{{computerUsingHistory.ComputerName}}</td>
                  <td>{{computerUsingHistory.DeparmentTypeCode}}</td>
                  <td>{{computerUsingHistory.DeparmentTypeName}}</td>
                  <td>{{computerUsingHistory.StartTime | date:'medium' }}</td>
                  <td>{{computerUsingHistory.EndTime | date:'medium' }}</td>
                  <td>{{computerUsingHistory.TotalHour }}</td>
                  <td>
                    <button class="btn btn-primary"
                      (click)="showEditModal(computerUsingHistory.ComputerUsingHistoryId)"><i
                        class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-danger" (click)="deleteItem(computerUsingHistory.ComputerUsingHistoryId)"><i
                        class="fas fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"
              [totalItems]="totalRow" [(ngModel)]="pageIndex" class="pagination pagination-sm m-0 float-right"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div bsModal #addEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">CREATE / UPDATE</h4>
        <button type="button" class="close pull-right" (click)="addEditModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left input_mask" #addEditForm="ngForm"
          (ngSubmit)="saveChanges(addEditForm.valid)" *ngIf="entity">

          <div class="form-group">
            <label class="control-label">Computers</label>
            <div>
              <select class="form-control" name="ComputerId" [(ngModel)]="entity.ComputerId">
                <option *ngFor="let x of computerSelectList" [value]="x.ComputerId">{{x.ComputerName}}
                </option>
              </select>
              <input type="hidden" [(ngModel)]="entity.ComputerId" name="ComputerId" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">Users</label>
            <div>
              <select class="form-control" name="UserId" [(ngModel)]="entity.UserId">
                <option *ngFor="let x of appUserSelectList" [value]="x.UserId">{{x.UserName}}
                </option>
              </select>
              <input type="hidden" [(ngModel)]="entity.UserId" name="UserId" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label>
              <div>
                Select EndTime:
              </div>
            </label>
            <kendo-datetimepicker [format]="'dd-MMMM-yyyy HH:mm:ss tt'" #StarTime="ngModel" required
              [(ngModel)]="reservationDataStartTime.StarTime" name="StarTime">
            </kendo-datetimepicker>
            <button type="button" class="k-button" (click)="StarTime.reset()">Reset</button>
          </div>

          <div class="form-group">
            <label>
              <div>
                Select EndTime:
              </div>
            </label>
            <kendo-datetimepicker [format]="'dd-MMMM-yyyy HH:mm:ss tt'" #EndTime="ngModel" required
              [(ngModel)]="reservationDataEndTime.EndTime" name="EndTime">
            </kendo-datetimepicker>
            <button type="button" class="k-button" (click)="EndTime.reset()">Reset</button>
          </div>

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="addEditModal.hide()" class="btn btn-primary">CANCEL</button>
              <button *ngIf="!entity.ComputerUsingHistoryId" type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">CREATE</button>
              <button *ngIf="entity.ComputerUsingHistoryId" type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">UPDATE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>