<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>LIST OF COMPUTERS</h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <button class="btn btn-success" (click)="showAddModal()">CREATE</button>
            <div class="card-tools">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control float-right" name="filter" (keyup.enter)="getlistpaging()" [(ngModel)]="filter" placeholder="CODE or NAME">
                <div class="input-group-append">
                  <select name="computerTypeId" [(ngModel)]="computerTypeId">
                    <option value="" selected>--Select Computer Type--</option>
                    <option *ngFor="let x of computerTypeSelectList" [value]="x.ComputerTypeId">{{x.ComputerTypeName}}
                    </option>
                  </select>
                  <select name="deparmentTypeId" [(ngModel)]="deparmentTypeId">
                    <option value="" selected>--Select Deparment Type--</option>
                    <option *ngFor="let x of deparmentTypeSelectList" [value]="x.DeparmentTypeId">{{x.DeparmentTypeName}}
                    </option>
                  </select>
                  <select name="producerTypeId" [(ngModel)]="producerTypeId">
                    <option value="" selected>--Select Producer Type--</option>
                    <option *ngFor="let x of producerTypeSelectList" [value]="x.ProducerTypeId">{{x.ProducerTypeName}}
                    </option>
                  </select>
                  <button class="btn btn-default" (click)="getlistpaging()" type="button"><i class="fas fa-search"></i></button>
                  <button class="btn btn-default" (click)="reset()" type="button">Reset</button>
                </div> 
              </div>              
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Computer Code</th>
                  <th>Computer Name</th>
                  <th>Computer Desrciption</th>
                  <th>Computer Type Name</th>
                  <th>Deparment Type Name</th>
                  <th>Producer Type Name</th>
                  <th>Is Busy Now</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let computer of computers">
                  <td>{{computer.ComputerCode}}</td>
                  <td>{{computer.ComputerName}}</td>
                  <td>{{computer.ComputerDescription}}</td>
                  <td>{{computer.ComputerTypeName}}</td>
                  <td>{{computer.DeparmentTypeName}}</td>
                  <td>{{computer.ProducerTypeName}}</td>
                  <td>{{computer.IsBusyNow == true ? "Busy" : "Free"}}</td>
                  <td>
                    <button class="btn btn-info" (click)="getInfo(computer.ComputerId)"><i class="fas fa-info-circle"></i></button>
                    <button class="btn btn-primary" (click)="showEditModal(computer.ComputerId)"><i
                        class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-danger" (click)="deleteItem(computer.ComputerId)"><i
                        class="fas fa-trash"></i></button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"
              [totalItems]="totalRow" [(ngModel)]="pageIndex" class="pagination pagination-sm m-0 float-right"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div bsModal #addEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">CREATE / UPDATE</h4>
        <button type="button" class="close pull-right" (click)="addEditModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left input_mask" #addEditForm="ngForm"
          (ngSubmit)="saveChanges(addEditForm.valid)" *ngIf="entity">
          <div class="form-group">
            <label class="control-label">ComputerCode</label>
            <div>
              <input type="hidden" [(ngModel)]="entity.ComputerId" name="ComputerId" />
              <input type="text" #ComputerCode="ngModel" [(ngModel)]="entity.ComputerCode" required minlength="3"
                maxlength="10" name="ComputerCode" class="form-control" />
              <small
                [hidden]="!(ComputerCode.invalid && (ComputerCode.dirty || ComputerCode.touched || addEditForm.submitted))"
                class="text-danger">
                ComputerCode from 3 to 10 letters
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">ComputerName</label>
            <div>
              <input type="text" #ComputerName="ngModel" [(ngModel)]="entity.ComputerName" required minlength="3"
                maxlength="50" name="ComputerName" class="form-control" />
              <small
                [hidden]="!(ComputerName.invalid && (ComputerName.dirty || ComputerName.touched || addEditForm.submitted))"
                class="text-danger">
                ComputerName from 3 to 50 letters
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">ComputerDescription</label>
            <div>
              <textarea type="text" #ComputerDescription="ngModel" [(ngModel)]="entity.ComputerDescription"
                name="ComputerDescription" class="form-control"></textarea>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">ComputerTypes</label>
            <div>
              <select class="form-control" name="ComputerTypeId" [(ngModel)]="entity.ComputerTypeId">
                <option *ngFor="let x of computerTypeSelectList" [value]="x.ComputerTypeId">{{x.ComputerTypeName}}
                </option>
              </select>
              <input type="hidden" [(ngModel)]="entity.ComputerTypeId" name="ComputerTypeId" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">DeparmentTypes</label>
            <div>
              <select class="form-control" name="DeparmentTypeId" [(ngModel)]="entity.DeparmentTypeId">
                <option *ngFor="let x of deparmentTypeSelectList" [value]="x.DeparmentTypeId">{{x.DeparmentTypeName}}
                </option>
              </select>
              <input type="hidden" [(ngModel)]="entity.DeparmentTypeId" name="DeparmentTypeId" class="form-control" />
            </div>
          </div>

          <div class="form-group">
            <label class="control-label">ProducerTypes</label>
            <div>
              <select class="form-control" name="ProducerTypeId" [(ngModel)]="entity.ProducerTypeId">
                <option *ngFor="let x of producerTypeSelectList" [value]="x.ProducerTypeId">{{x.ProducerTypeName}}
                </option>
              </select>
              <input type="hidden" [(ngModel)]="entity.ProducerTypeId" name="ProducerTypeId" class="form-control" />
            </div>
          </div>


          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="addEditModal.hide()" class="btn btn-primary">CANCEL</button>
              <button *ngIf="!entity.ComputerId" type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">CREATE</button>
              <button *ngIf="entity.ComputerId" type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">UPDATE</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>