<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1>DANH SÁCH NHÀ SẢN XUẤT</h1>
      </div>
    </div>
  </div>
</section>

<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <button class="btn btn-success" (click)="showAddModal()">Thêm mới</button>
            <div class="card-tools">
              <div class="input-group input-group-sm">
                <input type="text" class="form-control float-right" name="filter" (keyup.enter)="getlistpaging()" [(ngModel)]="filter" placeholder="Gõ tên quyền...">
                <div class="input-group-append">
                  <button class="btn btn-default" (click)="getlistpaging()" type="button"><i class="fas fa-search"></i></button>
                  <button class="btn btn-default" (click)="reset()" type="button">Reset</button>
                </div> 
              </div>              
            </div>
          </div>
          <div class="card-body table-responsive p-0">
            <table class="table table-hover text-nowrap">
              <thead>
                <tr>
                  <th>Producer Type Code</th>
                  <th>Producer Type Name</th>
                  <th>Producer Type Desrciption</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let producerType of producerTypes">
                  <td>{{producerType.ProducerTypeCode}}</td>
                  <td>{{producerType.ProducerTypeName}}</td>
                  <td>{{producerType.ProducerTypeDescription}}</td>
                  <td>
                    <button class="btn btn-primary" (click)="showEditModal(producerType.ProducerTypeId)"><i
                        class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-danger" (click)="deleteItem(producerType.ProducerTypeId)"><i
                        class="fas fa-trash"></i></button>   
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="card-footer">
            <pagination [boundaryLinks]="true" [itemsPerPage]="pageSize" (pageChanged)="pageChanged($event)"
              [totalItems]="totalRow" [(ngModel)]="pageIndex" class="pagination pagination-sm m-0 float-right"
              previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<div bsModal #addEditModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Thêm mới / Chỉnh sửa</h4>
        <button type="button" class="close pull-right" (click)="addEditModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form class="form-horizontal form-label-left input_mask" #addEditForm="ngForm"
          (ngSubmit)="saveChanges(addEditForm.valid)" *ngIf="entity">
          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">ProducerTypeCode</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="hidden" [(ngModel)]="entity.ProducerTypeId" name="ProducerTypeId" />
              <input type="text" #ProducerTypeCode="ngModel" [(ngModel)]="entity.ProducerTypeCode" required
                minlength="3" maxlength="10" name="ProducerTypeCode" class="form-control" />
              <small [hidden]="!(ProducerTypeCode.invalid && (ProducerTypeCode.dirty || ProducerTypeCode.touched || addEditForm.submitted))"
                class="text-danger">
                ProducerTypeCode chứa từ 3 đến 10 ký tự
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">ProducerTypeName</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <input type="text" #ProducerTypeName="ngModel" [(ngModel)]="entity.ProducerTypeName" required
                minlength="3" maxlength="50" name="ProducerTypeName" class="form-control" />
              <small [hidden]="!(ProducerTypeName.invalid && (ProducerTypeName.dirty || ProducerTypeName.touched || addEditForm.submitted))" class="text-danger">
                ProducerTypeName chứa từ 3 đến 50 ký tự
              </small>
            </div>
          </div>

          <div class="form-group">
            <label class="control-label col-md-3 col-sm-3 col-xs-12">ProducerTypeDescription</label>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <textarea type="text" #ProducerTypeDescription="ngModel" [(ngModel)]="entity.ProducerTypeDescription"
                name="ProducerTypeDescription" class="form-control"></textarea>
            </div>
          </div>

          <div class="ln_solid"></div>
          <div class="form-group">
            <div class="col-md-9 col-sm-9 col-xs-12 col-md-offset-3">
              <button type="button" (click)="addEditModal.hide()" class="btn btn-primary">Hủy bỏ</button>
              <button type="submit" class="btn btn-success" [disabled]="!addEditForm.form.valid">Cập nhật</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>